
.App {
  text-align: center;
}



 /* Survey and Forms page */


.survey {
  margin: 30px;
}


 /* Professor List page */

.professors, .dashboard {
  padding: 25px;
}

.updateData {
  background-color: '#FFD200';
}

.updateBtnDiv {
  margin: 25px;
}

.sortBtn {
  margin-left: 20px;
  display: inline-block;
}



.Login {
  margin-top: 25px;
  text-align: center;
}

.googleicon {
  margin: 7px;
  border-radius: 3px;
}


.orOption {
  display: inline;
}

.signinfields {
  margin-top: 20px;
}

.Login {
  padding: 50px;
}

.hr1 {
  display: inline-block;
  width: 25%;
  margin-right: 20px;
}

.hr2 {
  display: inline-block;
  width: 25%;
  margin-left: 20px;
}


.loginSuccessful {
  margin-top: 25px;
}